<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品</title>
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
	</head>
	<body>
		{% include 'base_nav.html' %}
		<div class="container">
			{% for product in products %}
			<div class="col-md-3 col-xs-12 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="{{ product.pic.url }}" class="img-responsive" alt="Responsive image">
				 		<div style="padding-top:2em;">
					 		{{product.describe}}
					 		<a href="/add_shopcart/{{ product.id }}" class="btn btn-info btn-xs" style="float:right;">加入购物车</a>
				 		</div>
					</div>
				</div>
			</div>
			{% endfor %}
			
		</div>
	</body>
</html>
